*{
    text-decoration: none;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
body, .app{
    height: 100vh;
    width: 100vw;
}
.answers{
    width:100%;
    height: 100%;
    button{
        width:100%;
        height:100%;
    }
}
.ldBar-label {
    color: #09f;
    font-family: 'varela round';
    font-size: 2.5em;
    font-weight: 900;
  }
